.link {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition: color 0.15s ease;
}

.link:hover {
  color: var(--primary);
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 0;
  text-decoration: none;
  color: inherit;
}

.brandText {
  font-weight: 700;
}
